*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'popins', sans-serif;
}
body{
    color: #9614d0;
    background: linear-gradient(#1c0522, #0f080f);
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header .logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    margin-left: 5%;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    padding: 5px;
    border-radius: 10px;
}
.header .navbar a:hover{
    background-color: ghostwhite;
    color: #d16aff;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px;
    background-image: url("background.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
.home_content{
    max-width: 600px;
}
.home_content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home_content h3{
    color: ghostwhite;
}
.home_content h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home_content h3 span{
    color: #d16aff;
}
.home_content h1{
    color: ghostwhite;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home_content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    color: ghostwhite;
}
.home_sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #d16aff;
    border-radius: 50%;
    font-size: 20px;
    color: #d16aff;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}
.home_sci a:hover{
    background: #d16aff;
    color: #310047;
    box-shadow: 0 0 20px #d16aff;
}
.btn_box:hover{
    box-shadow: 0 0 5px #d16aff,
    0 0 25px #d16aff, 0 0 50px #d16aff,
    0 0 100px #d16aff, 0 0 200px #d16aff
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.about_img img{
    margin-top: 10%;
    max-width: 630px;
    height: 55%;
    width: 55%;
    border-radius: 12px;
    margin-left: 15%;
}
.about_text{
    margin-right: 7%;
    margin-top: 5%;
}
.about_text h2{
    font-size: 60px;
    color: ghostwhite;
}
.about_text h2 span{
    color: #d16aff;
}
.about_text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about_text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
}
.sub_title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    margin-top: 6%;
}
.sub_title_2{
    text-align: center;
    font-size: 60px;
    margin-top: 20%;
}
.sub_title span{
    color: #d16aff;
}
.container1{
    margin-left: 40%;
}
.services_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-right: 5%;
    margin-left: 5%;
}
.services_list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    /*box-shadow: 1px 1px 20px #012290f7,
    1px 1px 40px #0053b8f7*/
    box-shadow: 1px 1px 20px #660094,
    1px 1px 40px #9614d0;
}
.services_list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services_list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services_list div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #d16aff;
    border-radius: 40px;
    font-size: 16px;
    color: #310047;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #d16aff,
    0 0 25px #d16aff;
}
.read:hover{
    box-shadow: 0 0 5px #d16aff,
    0 0 25px #d16aff, 0 0 50px #d16aff,
    0 0 100px #d16aff, 0 0 200px #d16aff
}
.services_list div:hover{
    transform: translateY(-10px);
}
section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.Section{
    margin-left: 12.5%;
}
.container1{
    width: 500px;
    height: 600px;
    padding: 20px 45px;
    margin-left: 150px;
    margin-top: 0.1%;
}
.container2{
    width: 500px;
    height: 600px;
    padding: 20px 45px;
    margin-left: 200px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    margin-top: 30%;
    color: ghostwhite;
}
.bar{
    font-size: 23px;
}
.technical_bars .bar{
    margin-top: 40px;
}
.technical_bars .bar:first-child{
    margin-top: 0;
}
.technical_bars .bar:last-child{
    margin-bottom: 0;
}
.technical_bars .bar .info{
    margin-bottom: 5px;
}
.technical_bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    color: ghostwhite;
}
.technical_bars .bar .progress_line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #d16aff;
    animation: animate 1s cubic-bezier(1,0,0,5) forwards;
    transform: scale(0);
    transform-origin: left;
}
@keyframes animate {
    100%{
        transform: scale(1);
    }
}
.technical_bars .bar .progress_line span{
    height: 100%;
    background-color: ghostwhite;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5) forwards;
    transform: scale(0);
    transform-origin: left;
}
.progress_line.html span{
    width: 85%;
}
.progress_line.css span{
    width: 78%;
}
.progress_line.javascript span{
    width: 60%;
}
.progress_line.react span{
    width: 75%;
}
.progress_line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #0000;
    color: #ffff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress_line.html span::after{
    content: "85%";
}
.progress_line.css span::after{
    content: "78%";
}
.progress_line.javascript span::after{
    content: "60%";
}
.progress_line.react span::after{
    content: "75%";
}
.progress_line span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    top: -30px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText {
    100%{
        opacity: 1;
    }
}
.radial_bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.radial_bars .radial_bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial_bars .radial_bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial_bars .radial_bar .progress_bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: ghostwhite;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path_1{animation: animate-path1 1s 1s linear forwards}
.path_2{animation: animate-path2 1s 1s linear forwards}
.path_3{animation: animate-path3 1s 1s linear forwards}
.path_4{animation: animate-path4 1s 1s linear forwards}
@keyframes animate-path1 {
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2 {
    100%{
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path3 {
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4 {
    100%{
        stroke-dashoffset: 75;
    }
}
.radial_bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    color: #d16aff;
}
.radial_bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    color: #d16aff;
}
.main_text{
    margin-top: 10%;
}
.main_text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin-bottom: 5%;
}
.main_text span{
    color: #d16aff;
}
.portfolio{
    height: 100vh;
}
.portfolio_content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(359px, auto));
    margin-left: 5%;
    margin-right: 5%;
}
.row{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;
}
.row img{
    width: 90%;
    border-radius: 12px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 95%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #d16aff);
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
}
.layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    margin-top: 5px;
    font-size: 20px;
    background: ghostwhite;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
.row:hover img{
    transform: scale(1.08);
}
.row:hover .layer{
    height: 100%;
    background-color: #9614d0;
    border-radius: 12px;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    height: 100vh;
    -webkit-mask-image: linear-gradient(to top, black 80%, transparent 100%);
    background-image: url("cave.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.contact_text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact_text h2 span{
    color: #d16aff;
}
.contact_text h4{
    margin: 15px 0;
    color: rgba(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contact_text p{
    color: rgba(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact_list{
    margin-bottom: 3rem;
}
.contact_list li{
    margin-bottom: 10px;
    display: block;
    color: #d16aff;
}
.contact_list i{
    display: inline-block;
    color: #d16aff;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact_list li .email{
    text-decoration: none;
    color: #d16aff;
}
.contact_list li .email:hover{
    color: #9614d0;
}
.contact_list li .phone{
    color: #d16aff;
}
.contact_list li .phone:hover{
    color: #9614d0;
    cursor: pointer;
}
.contact_form form{
    position: relative;
    margin-top: 10%;
}
.contact_form form input, form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: lightgrey;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact_form textarea{
    resize: none;
    height: 220px;
}
.contact_form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #d16aff;
    border-radius: 40px;
    font-size: 18px;
    color: #310047;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #d16aff,
    0 0 25px #d16aff;
}
.contact_form form .send:hover{
    box-shadow: 0 0 5px #d16aff,
    0 0 25px #d16aff, 0 0 50px #d16aff,
    0 0 100px #d16aff, 0 0 200px #d16aff;
    cursor: pointer;
}
.last_text p{
    width: 100%;
    text-align: center;
    background: transparent;
    font-weight: 300;
    color: ghostwhite;
    margin-left: 50%;
}
.top{
    position: fixed;
    bottom: 2.5rem;
    right: 1.1rem;
}
.top i{
    color: #000;
    background: #d16aff;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.Picture_1{
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 200px;
    margin-left: 55%;
}
.force-overflow
{
    min-height: 450px;
}
#style-15::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}
#style-15::-webkit-scrollbar
{
    width: 10px;
    background-color: lightgrey;
}
#style-15::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: lightgrey;
    background-image: -webkit-gradient(linear,
    40% 0%,
    75% 84%,
    from(#bb44f0),
    to(#9614d0),
    color-stop(.6,#d16aff))
}
#element{
    color: #9614d0;
    font-size: 30px;
    font-weight: 600;
}
.text.first_text{
    color: ghostwhite;
    font-size: 30px;
    font-weight: 600;
}
.btn_box {
    color: #310047;
    font-weight: normal;
    font-size: 16px;
    background: #9614d0;
    border-radius: 40px;
    padding: 12px 20px;
    border: none;
    transition: .5s ease;
    box-shadow: 0 15px 60px -5px rgba(0, 0, 0, .5);
    letter-spacing: 1px;
    text-decoration: none;
}
.btn_box:hover {
    box-shadow: none;
    cursor: pointer;
}
.btn_box:hover + .drip-1{
    height: 50px;
}

.btn_box:hover ~ .drip-2{
    height: 90px;
}

.btn_box:hover ~ .drip-3{
    height: 30px;
}
.drip-1{
    position:absolute;
    width:19px;
    height:0;
    border-radius:0 0 21px 21px;
    background:#9614d0;
    margin: 10px 15px;
    transition: height 0.9s ease;
}
.drip-2{
    position:absolute;
    width:19px;
    height:0;
    border-radius:0 0 21px 21px;
    background:#9614d0;
    margin: 11px 90px;
    transition: height 1.5s ease;
}
.drip-3{
    position:absolute;
    width:19px;
    height:0;
    border-radius:0 0 21px 21px;
    background:#9614d0;
    margin: 11px 110px;
    transition: height .7s ease;
}



